<!DOCTYPE html>
<html lang="en-GB">
	<head>
	
	<title>{{ title }}Tiny Doodle. The fun social doodle sharing service</title>
	
	<!-- Meta Tags -->
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="robots" content="index, follow" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Fav icon -->
	<link rel="shortcut icon" href="" />

	<!-- CSS -->
	<link rel="stylesheet" href="static/css/reset.css" media="screen,projection" type="text/css" />
	<link rel="stylesheet" href="static/css/doodle_theme.css" media="screen,projection" type="text/css" />
	<link rel="stylesheet" href="" media="print" type="text/css" />
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="css/ie6.css" media="screen,projection" type="text/css" />
	<![endif]-->
	
	<!-- RSS -->
	<link rel="alternate" href="" title="RSS Feed" type="application/rss+xml" />
    
	</head>
        <body>
		<div id="container"> <!-- container. start -->
            <h1>{{ heading }}</h1>
                    
            <div id="canvas_wrapper">
                <canvas width="320" height="240" id="doodle_canvas">
                    <div id="no_doodle_canvas">
                        <code>canvas</code> element not supported.
                    </div>
                </canvas>
            </div>
            
            <!--
            <div id="details">
                <label for="title">Doodle title</label>
                <input type="text" maxlength="30" id="title" name="title" />
            </div>
            -->
            
            
            <div id="instructions">
                <h2>Instructions</h2>
                <p>Click &amp; doodle inside the box to create your own tiny doodle.</p>
                <img src="/static/images/instructions.png" alt="doodle instructions" />
            </div>
            
            <div id="share">
                <h2>+ Share Doodle</h2>
                <div>
                    <ul>
                        <li>Facebook it</li>
                        <li>Twitter it</li>
                        <li>Email it</li>
                        <li>Download it</li>
                        <li>Copy link</li>
                    </ul>
                </div>
            </div>
            
            <div id="controls">
                <button id="save">Save</button>
                <button id="new">New</button>
                <button id="pen" class="active">Pen</button>
                <button id="eraser">Eraser</button>
            </div>

            
            <div id="notification">
            </div>
            
             <div id="output">
                <h2>Saved Images</h2>
            </div>
            
            <div id="credits">
                <p>
                    Created by
                    <a href="http://coderonfire.com/">
                        Andrew Mason
                    </a>.
                    Built with Python and
                    <a href="http://code.google.com/appengine/">
                        Google App Engine
                    </a>
                </p>
            </div>
		</div><!-- container. end -->
		
		<!-- JavaScript  -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="/static/scripts/jquery.cookie.js"></script>
        <script type="text/javascript" src="/static/scripts/doodle.js"></script>
        
        <!-- Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-9094153-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
                
	</body>
</html>
